//.ProductList{
  //width: 100vw;


  .ProductList{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: .06rem;
    justify-content: space-around;
    text-align: center;
    font-size: .28rem;

    li{
      img {
        width: 3.56rem;
      }

      .product-info{
        padding-top: .125rem;
      }

      .brief{
        padding-top: .08rem;
        font-size: .11rem;
        color: rgba(0,0,0,.54);
      }

      .price{
        color: #ea625b;
        span{
          display: inline-block;
          margin-right: .04rem;
          font-size: .3rem;
        }
        i{
          font-size: .36rem;
          font-weight: bold;
          vertical-align: middle;        }
      }

      .tobut-btn{
        margin: auto;
        color:white;
        background-color: #ea625b;
        width: 2.08rem;
        height: .62rem;
        line-height: .62rem;
        border-radius: .1rem;
        margin-bottom: .28rem;
      }
    }
  }
//}