.banner{
  height: 1.86rem;
  background-color: #DDD;
  ul{
    display: flex;
    overflow: hidden;
    li{
      a{
        width: 100vw;
        display: inline-block;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

