
$orange_color:#ED5B01;
$default-color:#f2f2f2;

.App {
  header{
    position: sticky;
    top: 0;
  }

  .App-header{
    display: flex;
    padding: .1rem 0;

    background-color: #f2f2f2;
    justify-content: space-around;
    div[class^='App']{
      display: flex;
      height: .62rem;
      align-items: center;
    }

    .iconfont,input{
      color:rgba(0,0,0,.3);
    }

    .App-logo {
      img{
        width: .5rem;
        height: .32rem;
        margin:0 .3rem;
      }
    }

    .App-search{
      width: 5.56rem;
      border:1px solid #e5e5e5;
      border-radius: .1rem;
      background-color: #fff;

      i{
        padding:0 .1rem;
        font-size: .4rem;
        line-height: .4rem;
      }

      input{
        height: 100%;
        font-size: .3rem;
        border: none;
      }
    }

    .App-login{
      width: 1.04rem;
      i{
        font-size: .44rem;
        margin: 0 auto;
        color: rgba(0,0,0,.4);
      }
    }
  }

}



.h-nav {
  font-size: .27rem;
  color: rgba(0, 0, 0, .4);

  ul {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: $default-color;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2);

    li {
      width: calc(100vw/7);
      white-space: nowrap;
      padding: 0 .26rem;

      p {
        height: .68rem;
        padding: .15rem 0;
        border-bottom: .04rem solid transparent;
      }


      //p.active{
      //  border-bottom-color: #ED5B01;
      //}
    }

    li:nth-child(1) {
      p {
        color:$orange_color;
        border-bottom-color: $orange_color;
      }
    }

  }
}