.banner {
  height: 3.75rem;
  background-color: #DDD;

  ul {
    display: flex;
    //overflow: auto;
    li {

      img {
        width: 100%;

        //height: 100%;
      }
    }
  }

  //.swiper-container{
  //  --swiper-theme-color: #ff6600;
  //  --swiper-pagination-color: #00ff33;/* 两种都可以 */
  //}
}

