.recommendation{
  //position: relative;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  height: 5.28rem;
  justify-content: space-between;

  a:nth-child(2)  {
    height: 2.64rem;

  }
  a:nth-child(3){
    display: inline-block;
    margin-top: -2.62rem;
    margin-left: auto;
  }


  img{
    width: 3.72rem;
  }
}
